.button-header {
  width: 30%;
}

.button-header button {
  user-select: none;
  width: 100%;
  padding: 5px 0;
  background: #777;
  color: #fefefe;
  border: none;
  border-radius: 5px;
  outline: 1px solid #000;
}

.button-header button:active {
  background: #555;
}