.sign-up {
  margin-top: 30px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 30vw;
  height: 50vh;
  background: var(--bg-content);
}

.sign-up h2 {
  text-align: center;
  color: #333;
  font-size: 30px;
  font-weight: 400;
}

.sign-up form {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  width: 80%;
}