.button-header {
  position: absolute;
  user-select: none;
  width: 150px;
  padding: 5px 0;
  background: #777;
  color: #fefefe;
  border: none;
  border-radius: 5px;
  outline: 1px solid #000;
}

.button-header:active {
  background: #ccc;
}